/* FICHIER CSS */

body{
	width:100%;
	color:black;
	background-image:url(Vue/images/background.jpg);
	background-repeat:no-repeat;
	background-position: top;
	margin:0;
	text-align:center;
}

h1{
	font-size:16px;
	font-family: Arial;
	width: 100%;
	text-align: center;
}

h2{
	font-size:14px;
	font-style:italic;
	font-family: Arial;
}

div span p{
	font-size:12px;
	font-family: Arial;
}

address{
	font-size:12px;
	font-style:italic;
	font-family: Arial;
}

a{
	text-decoration : none;
	color : #4d4dff;
}
a:hover{
	text-decoration : none;
	color : #ff80ff;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
	 overflow: hidden;
	 background: #333;
	 position: fixed;
    top: 0;
	 left: 0;
    width: 100%;
}

.navbar li {
	float: left;
}

.navbar li a, .dropbtn{
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
	background-color: #111;
}

li.dropdown {
	display: inline-block;
}

.dropdown_menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown_menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown_menu a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown_menu {
    display: block;
}

.active {
	background-color: #4CAF50;
}

.footer
{
   position: fixed;
   left: 0px;
   right: 0px;
   bottom: 0px;
   height: 45px;
   margin: 0px;
   opacity: 0.9;
	padding: 5px;
   background-color: #333;
}

.footer span {
	color: white;
}
