/* FICHIER CSS */

body{
	width:100%;
	color:black;
	background-color:white;
	background-image:url(images/background.jpg);
	background-repeat:no-repeat;
	text-align:center;
}

h1{
	font-size:16px;
	font-family: Arial;
	width: 100%;
	text-align: center;
}

h2{
	font-size:14px;
	font-style:italic;
	font-family: Arial;
}

div span p{
	font-size:12px;
	font-family: Arial;
}

address{
	font-size:12px;
	font-style:italic;
	font-family: Arial;
}

a{
	text-decoration : none;
	color : #4d4dff;
}
a:hover{
	text-decoration : none;
	color : #ff80ff;
}

.navbar, ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	 overflow: hidden;
	 background: #333;
	 position: fixed;
    top: 0;
    width: 100%;
}

.navbar, li {
	float: left;
}

.navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {
	background-color: #111;
}

.active {
    background-color: #4CAF50;
}


.dropdown_menu {
	display: none;
}

#menu1{
	width:70%;
	display:table;
}

#menu1 li{
	display:table-cell;
}
