/* FICHIER CSS */
html {
	height: 100%;
}

body{
	position: relative;
	display: inline-block;
	width: 100%;
	color: white;
	background-color: rgb(190, 197, 202);
	background-image: url(images/background.jpg);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	margin:0;
	min-height: 100%;
	font-family: Calibri;
	font-size: 17px;
}

h1{
	font-size: 22px;
	width: 100%;
	text-align: center;
}

h2{
	font-size:18px;
	font-style: italic;

}

div span p {
	font-size:12px;
	font-family: Arial;
}

.presentation {
	margin: 20px 40px 20px 50px;
}

section {
	margin-top: 7%;
	margin-bottom: 7%;
}

a {
	text-decoration: none;
	color: pink;
}

.contenu{
	background:rgba(0,0,0,0.9);
	border-radius: 20px;
	margin-left:5%;
	margin-right:5%;
	margin-top: 4%;
	padding:20px;
	color: white;
	display: block;
	min-width: 250px;
    text-align:center;
}

.arrondie{
	border-radius:100px;
	opacity: 1;
	width: 150px;
}

.circle {
	width: 200px;
	height: 200px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;
	background-position: center;
	background-repeat:no-repeat;
	opacity:2;
}


address{
	font-size:12px;
	font-style:italic;
	font-family: Arial;
}

ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
	display: inline-block;
}

li {
    float: left;
    margin: 0px;
}

#logo {
    margin-right: 20px;
    margin-left: 20px;
	width: 63px;
	height: 63px;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 28px;
    font-family: Calibri;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #111;
}

li.dropdown {
    display: inline-block;
}

li .active{
    background-color: darkgreen;
}

nav {
	position:fixed;
	left: 0px;
	right: 0px;
	top: 0px;
	margin: 0px;
	z-index: 2;
	background-color: #333;
}

.hamb {
	display: none;
}

/* meu Hamburger */
@media only screen and (max-width: 900px) {
  .navbar {
	  position: static;
	  display:none;
	  float: left;
	  width: 200px;
	  height: auto;
	  cursor: pointer;
	  background-color: #333;
  }

  .hamb {
      display: inline-block;
      cursor: pointer;
	  margin-bottom: 5px;
  }


  .bar1, .bar2, .bar3 {
	width: 35px;
    height: 5px;
    background-color: white;
    margin: 2px 5px 8px 15px;
  }
}

.footer
{
	position: absolute;
	bottom: 0px;
	width: 100%;
    opacity: 0.9;
    padding: 5px;
    background-color: #333;
	text-align: left;
}

* {
	box-sizing: border-box;
}


/* Bouton precedent et suivant */
.prev, .next {
	cursor: pointer;
	position: relative;
	top: 40%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

/* positionne le bouton "suivant" à droite */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* Change le style des boutons au survol */
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

/* Indicateur du nombre d'images */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: relative;
	top: 0;
}

/* Container pour les textes d'images */
.caption-container {
	text-align: center;
	background-color: #222;
	padding: 2px 16px;
	color: white;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 16.66%;
}

/* Ajoute un effet de transparence aux thumbnails */
.demo {
	opacity: 0.6;
}

.active, .demo:hover {
	opacity: 1;
}

/**************************
**Mise en page Evenements**
***************************/
.noteEvenement {
	display: inline-flex;
	  position: relative;
}

.note {
	  color: #333;
	  position: relative;
	  width: 300px;
	  margin: 0 auto;
	  margin: 20px;
	  padding: 20px;
	  font-family: Satisfy;
	  font-size: 22px;
	  box-shadow: 0 10px 10px 2px rgba(0,0,0,1);
}

.verte {
	background: #eae672;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2.5deg);
}


/**********************************
**Mise en page formulaire contact**
**********************************/
#contact {
	margin: 30px;
}

fieldset {
	border-radius: 20px;
	font-size: 20px;
	font-family: Arial;
	margin: 20px;
}

textarea, input {
	border-radius: 10px;
}

#boutonFrom:hover{
	background-color: black;
	cursor: pointer;
	color: white;
	opacity:0.7;
}

.standalone-container {
	margin: 50px auto;
	max-width: 720px;
}

#snow-container {
	height: 350px;
    width: 720px;
}

.contenu_blanc{
	background:rgba(255,255,255,0.9);
	border-radius: 20px;
	margin-left:5%;
	margin-right:5%;
	margin-top: 80px;
	margin-bottom: 15px;
	padding:20px;
	color: black;
	display: block;
	min-width: 250px;
}
